<div id="gazelle-div">
  <div id='left-bar'>
    <h1>Trade-in</h1>
    <h3>Powered by</h3>
    <img src='http://cdn3.bigcommerce.com/s-ndqvi4q/templates/__custom/images/logo.svg'>
  </div>

  <div id="right-bar">
    <div class="title">
      <h1>Success!</h1>
      <h3>You have successfully added your phone to the cart. Would you like to <%= link_to 'add another?', root_path %></h3>
    </div>
  </div>
</div>